<footer class="footer text-center text-sm-start">
    &copy; <script>
               document.write(new Date().getFullYear())
    </script> Uwingo <span class="text-muted d-none d-sm-inline-block float-end">
        @Localizer["Crafted with"] <i class="mdi mdi-heart text-danger"></i> @Localizer["by Uwingo"]
    </span>
</footer><!--end footer-->